*{
    margin: 0;
    padding: 0;
}

/* start menu  */
.container {
    width: 1150px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.menu ul li  {
    display: inline;
    margin-right: 30px;
    font-size: 20px;
}

/* start hero */
.hero {
    margin-top: 20px;
    padding: 10px 100px 0px;
}



.hero-text {
    justify-content: center;
}

.hero-text h1 {
    font-size: 30px;
    font-weight: 200;
}

.hero-text p {
    font-size: 20px;
    
}

.hero-text h1, .hero-text p {
    margin-bottom: 35px;
}

.hero-text button {
    background-color: #FF6464;
    border: 0;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    
}

.pt-text {
    padding: 0px 30px 10px;
    text-align: center;
    font-size: 20px;
}

/* start post */
.post {
    background-color: #EDF7FA;
    padding: 15px 100px 20px;
    margin-top: 50px;
}

.post-recent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post-recent h3 {
    font-size: 22px;
    font-weight: 300;
}

.post-recent a {
    color: #00A8CC;
    font-size: 16px;
    text-decoration: none;  
}

.post-content {
    display: flex;
    gap: 15px;
}

.post-content-detail {
    background-color: #ffffff;
    padding: 20px 15px;
}

.post-content-detail h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #21243D;
}

.post-content-detail p {
    font-size: 16px;
    margin-top: 15px;
   
}
.post-content-detail label {
    font-size: 18px;
    padding: 2px;
}

.form-isi {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

/* start feature */
.feature {
    background-color: #FFFFFF;
    padding: 15px 100px 20px;
}

.feature-work {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.feature-work h3 {
    font-weight: 400;
}

.feature-isi {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.feature-text {
    padding: 20px 15px;
}

.feature-text h2 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #21243D;
    font-weight: 400;
}

.feature-text p {
    margin-top: 10px;
    font-size: 16px;
}

.label-oval {
    display: flex;
    justify-content: start;
    gap: 15px;
    font-size: 20px;
    color: #8695A4;
}
.label-oval-2000 label {
    background-color:#142850;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 3px;
    border-radius: 5px;
}

.garis {
    margin-top: 30px;
    display: flex;
    background-color: #E0E0E0;
    color: #E0E0E0;
    font-size: 1px;
}
/* start footer  */
.footer-image, .footer-text {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.footer {
    margin-top: 15px;
}

@media only screen and (max-width:600px) {
    .container {
        width: 100%;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .hero {
        display: flex;
        flex-direction: column;

    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-image img {
        max-width:450px;
        height: auto;

    }
    .hero-text {
        text-align: center;
        margin-top: 20px;
        width: auto;
    }

    .post {
        padding: 15px 15px;
    }

    .post-content {
        display: flex;
        flex-direction: column;
    }

    .form-isi iframe {
        height: 1740px;
    }
    
    .feature {
        padding: 15px 15px;
    }

    .feature-isi {
        display: flex;
        flex-direction: column;

    }

    .feature-text {
        display: flex;
        flex-direction: column;
    }
    .feature-image {
        display: flex;
        flex-direction: column;
    }
}